:root {
  --text-basic-color-white: #ffffff;
  --text-basic-color-black: #323232;
  --background-brown: #9d8b84;
  --background-blue: #8996a6;
  --background-green: #849d8f;
  --active-background-color: #ffffff;
  --underline-link-pink: rgb(255, 188, 158);
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

.body_page {
  font-family: "Roboto", -apple-system, "Segoe UI", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: var(--background-green);
  color: var(--text-basic-color-white);
  font-size: 16px;
  line-height: 22px;
}

.link {
  color: var(--text-basic-color-white);
}

.link:hover,
.link:active {
  color: #ffbc9e;
}

.navigation_item .link {
  font-size: 16px;
  line-height: 18px;
}

.navigation_item_link:hover {
  background-color: var(--active-background-color);
  color: var(--text-basic-color-black);
  border-radius: 26px;
  padding: 6px 13px 7px 13px;
}

.navigation_item_link:active {
  background: #ededed;
  box-shadow: inset 0px 2px 1px #696969;
}

.catalog_item .link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--text-basic-color-black);
  text-decoration: none;
}

.catalog_item .link:hover {
  background-color: #fbded7;
}

.catalog_item .link:active {
  background-color: #f6b5a5;
}

.navigation_item_link_active {
  background-color: #d07058;
  border-radius: 26px;
  padding: 6px 14px 8px 14px;
}

.catalog_item {
  font-size: 14px;
  line-height: 16px;
}

.user_actions_item {
  font-size: 14px;
  line-height: 16px;
}

.user_action_link:hover {
  background: #ffffff;
  border-radius: 20px;
  padding: 8px 16px 8px 44px;
  color: var(--text-basic-color-black);
}

.authorization_actions .link {
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  color: var(--text-basic-color-black);
}

.authorization_actions .link:hover,
.authorization_actions .link:active {
  color: #e84d37;
}

.header_info p:first-child {
  font-size: 14px;
  line-height: 16px;
}

.header_info p:last-child {
  font-size: 22px;
  line-height: 24px;
}

.shares_item {
  font-size: 18px;
  line-height: 22px;
}

.shares_item_title {
  font-size: 35px;
  line-height: 41px;
}

.link.button {
  text-decoration: none;
}

.ice_creams_item .link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline;
}

.item_price {
  font-size: 45px;
  line-height: 45px;
}

.main_title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: var(--text-basic-color-black);
}

.main_info_item {
  font-weight: 400;
  color: var(--text-basic-color-black);
}

.new {
  color: var(--text-basic-color-black);
}

.new_title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.new_item {
  font-size: 24px;
  line-height: 30px;
  color: inherit;
}

.new_item:hover,
.new_item:active {
  color: #e84d37;
}

.follow {
  font-weight: 400;
  color: var(--text-basic-color-black);
}

.contacts {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--text-basic-color-black);
}

.contacts_item {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.modal_contact_us {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: var(--text-basic-color-black);
}

.breadcrumbs_link {
  font-weight: 400;
}

.catalog_main_title {
  font-size: 35px;
  line-height: 41px;
}

.label {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.sort_value {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--text-basic-color-white);
}

.background_transparent_white {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.apply_button {
  font-size: 16px;
  line-height: 18px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  color: var(--text-basic-color-white);
  padding: 5px 14px;
}

.footer_info {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}


.footer_copyright span {
  text-decoration: underline;
}

.button {
  font-size: 18px;
  line-height: 24px;
  background: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  color: var(--text-basic-color-white);
  padding: 15px 22px;
  border: 0;
}

.button:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: 0px 2px 2px #ac1000;
  color: var(--text-basic-color-white);
}

.button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0px 2px 2px #942718;
  color: var(--text-basic-color-white);
}

.button_enter {
  padding: 12px 22px;
}
