:root {
  --text-basic-color-white: #ffffff;
  --text-basic-color-black: #323232;
  --background-brown: #9d8b84;
  --background-blue: #8996a6;
  --background-green: #849d8f;
  --active-background-color: #ffffff;
  --underline-link-pink: rgb(255, 188, 158);
  --modal-background: #f8f7f4;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

.page {
  height: 100%;
  background-color: var(--background-green);
}

.body_page {
  width: 1200px;
  font-family: "Roboto", -apple-system, "Segoe UI", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: var(--background-green);
  color: var(--text-basic-color-white);
  font-size: 16px;
  line-height: 22px;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0 auto;
}

.list_appearance {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: var(--text-basic-color-white);
}

.link:hover,
.link:active {
  color: #ffbc9e;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.modal {
  background-color: var(--modal-background);
  font-size: 14px;
  line-height: 16px;
  border-radius: 4px;
}

.modal_input {
  border: 1px solid rgba(178, 178, 178, 0.52);
  padding-left: 15px;
  padding-right: 15px;
}

.main_header {
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
}

.main_header_logo {
  margin-top: 10px;
}

.main_navigation_list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 28px;
}

.navigation_item {
  margin-right: 5px;
}

.navigation_item:first-child {
  margin-left: 10px;
}

.navigation_item:last-child {
  margin-right: 0;
}

.navigation_item .link {
  font-size: 16px;
  line-height: 18px;
}

.navigation_item_link {
  padding: 6px 14px 8px 14px;
}

.navigation_item_link:hover {
  background-color: var(--active-background-color);
  color: var(--text-basic-color-black);
  border-radius: 26px;
}

.navigation_item_link:active {
  background: #ededed;
  box-shadow: inset 0px 2px 1px #696969;
}

.catalog_list {
  display: none;
  position: absolute;
  top: 60px;
  width: 105px;
  height: 145px;
  padding: 10px 20px 15px 20px;
  background: var(--text-basic-color-white);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  margin-top: 5px;
}

.navigation_item_link_catalog:hover + .catalog_list {
  display: block;
}

.catalog_item {
  padding: 5px 0;
}

.catalog_item .link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--text-basic-color-black);
  text-decoration: none;
}

.link.link_new {
  display: block;
  line-height: 18px;
  font-weight: 700;
}

.catalog_item:hover {
  background-color: #fbded7;
}

.catalog_item:active {
  background-color: #f6b5a5;
}

.navigation_item_link_active {
  background-color: #d07058;
  border-radius: 26px;
  padding: 6px 14px 8px 14px;
}

.catalog_item {
  font-size: 14px;
  line-height: 16px;
}

.decorative_line {
  border-bottom:  1px solid rgba(50, 50, 50, 0.2);;
}

.user_actions_list {
  justify-self: end;
  display: flex;
  margin-top: 25px;
}

.user_actions_button:hover {
  background-color: #ffffff;
  color: var(--text-basic-color-black);
}

.user_actions_button:hover path {
  fill: var(--text-basic-color-black);
}

.user_actions_item button {
  font-size: 14px;
  line-height: 16px;
  margin-right: 10px;
  color: var(--text-basic-color-white);
  font-weight: 500;
  border-style: none;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
}

.user_actions_item:last-child {
  margin-right: 0;
}

.user_actions_search {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.user_actions_enter {
  min-width: 92px;
  height: 32px;
  border-radius: 20px;
  align-items: center;
}

.user_actions_enter svg {
  margin: 6px 8px 7px 10px;
}

.user_actions_enter span {
  margin-right: 10px;
}



.user_actions_cart {
  min-width: 100px;
  height: 32px;
  border-radius: 20px;
  align-items: center;
}

.user_actions_cart svg {
  margin: 6px 8px 6px 10px;
}

.user_actions_cart span {
  margin-right: 10px;
}

.searching_form,
.login_form,
.cart_form,
.authorization_actions {
  display: none;
}

.user_actions_search:hover + .searching_form {
  display: block;
}

.user_actions_enter:hover + .login_form,
.user_actions_enter:hover + .login_form + .authorization_actions {
  display: block;
}

.user_actions_cart:hover + .cart_form {
  display: block;
}

.modal_searching {
  position: relative;
}

.searching_form {
  width: 310px;
  height: 45px;
  padding: 20px 15px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  position: absolute;
  right: 10px;
  bottom: -90px;
}

.searching_form input {
  width: 285px;
  height: 20px;
  padding: 10px 10px;
  border: 1px solid #d3d3d2;
}

.modal_login {
  position: relative;
}

.login_form {
  width: 241px;
  height: 175px;
  padding: 20px 18px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  position: absolute;
  right: 10px;
  bottom: -220px;
}

.login_form input:not([type="submit"]) {
  width: 206px;
  height: 10px;
  padding: 15px;
  border: 1px solid #d3d3d2;
}

.login_form input:not(:first-child) {
  margin-top: 20px;
}

.login_form .button_enter {
  width: 100px;
  height: 45px;
  padding: 10px 22px;
}

.authorization_actions {
  position: absolute;
  right: 10px;
  bottom: -220px;
  width: 120px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 28px;
  margin-right: 18px;
}

.authorization_actions .link {
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  color: var(--text-basic-color-black);
}

.authorization_actions .link:hover,
.authorization_actions .link:active {
  color: #e84d37;
}

.link_register {
  display: block;
  margin-top: 6px;
}

.modal_cart {
  position: relative;
  display: flex;
}

.cart_form {
  position: absolute;
  width: 510px;
  height: 205px;
  right: 10px;
  bottom: -250px;
  padding: 20px 15px;
}

.cart_form input[type="submit"] {
  margin-left: 325px;
  margin-top: 150px;
}

.header_info {
  grid-column: -2/-1;
  justify-self: end;
  text-align: end;
  margin-top: -5px;
  margin-right: 10px;
}

.header_info p:first-child {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.header_info p:last-child {
  font-size: 22px;
  line-height: 24px;
  margin: 0;
  margin-top: 8px;
}

.main_container {
  display: grid;
}

.page_background {
  background-repeat: no-repeat;
  background-position: top center;
}

.page_background_first {
  background-color: #849d8f;
  background-image: url("../img/optimizedPNG/background_first.png");
}

.page_background_second {
  background-color: #8996a6;
  background-image: url("../img/optimizedPNG/background_second.png");
}

.page_background_third {
  background-color: #9d8b84;
  background-image: url("../img/optimizedPNG/background_third.png");
}

.slider {
  width: 1146px;
  margin-bottom: 40px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide_current {
  display: block;
}

.slide_title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
  margin-top: 230px;
}

.slider_controls {
  bottom: 63px;
  left: 0;
  z-index: 20;
  display: flex;
  width: 67px;
  justify-content: space-between;
}

.slider_controls button {
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider_controls .current {
  background-color: #ffffff;
}

.slider_item .button {
  width: 260px;
  height: 62px;
  font-size: 32px;

  line-height: 44px;
  font-weight: 700;
  letter-spacing: 3px;
}

.shares_list {
  display: grid;
  grid-template-columns: 560px 560px;
  column-gap: 25px;
}

.shares_item {
  font-size: 18px;
  line-height: 22px;
  width: 560px;
  height: 230px;
}

.shares_item p {
  margin: 0;

  margin-left: 16px;
  margin-top: 16px;
}

.shares_item_raspberry {
  background-image: url(../img/optimizedJPEG/raspberryBackground.jpg);
  border-radius: 19px;
}

.shares_item_chocolate {
  background-image: url(../img/optimizedJPEG/chocolateBackground.jpg);
  border-radius: 19px;
}

.shares_item_title {
  font-size: 35px;
  line-height: 41px;
}

.link.button {
  text-decoration: none;
}

.button_jam {
  display: inline-block;
  margin-left: 375px;
  margin-top: 40px;
}

.button_chocolate {
  display: inline-block;
  margin-left: 347px;
  margin-top: 40px;
}

.ice_creams_list {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  column-gap: 25px;
}

.ice_creams_item {
  position: relative;
  margin-top: 40px;
}

.ice_creams_hit {
  position: absolute;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-color: var(--text-basic-color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.ice_creams_item .link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline;
}

.ice_creams_img {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  width: 265px;
  height: 265px;
}

.item_price {
  position: absolute;
  font-size: 45px;
  line-height: 45px;
  margin-top: 205px;
}

.item_price span {
  font-size: 30px;
  line-height: 35px;
}

.ice_creams_name {
  margin-top: 280px;
  text-align: center;
}

.main_info {
  background-image: url(../img/optimizedJPEG/waffleBackground.jpg);
  background-repeat: no-repeat;
  border-radius: 19px;
  width: 1145px;
  height: 305px;
  margin-top: 40px;
}

.main_title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: var(--text-basic-color-black);
  margin: 0;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.main_info_list {
  display: grid;
  grid-template-columns: 540px 540px;
  column-gap: 25px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 7px;
}

.main_info_item {
  font-weight: 400;
  color: var(--text-basic-color-black);
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 6px;
}

.main_info_item p {
  margin-top: 8px;
}

.columns {
  display: grid;
  grid-template-columns: 560px 560px;
  column-gap: 25px;
}

.new {
  color: var(--text-basic-color-black);
  background-image: url(../img/optimizedJPEG/strawberryBackground.jpg);
  width: 560px;
  height: 220px;
  border-radius: 19px;
  background-repeat: no-repeat;
  margin-top: 40px;
}

.new_title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin: 0;
  margin-top: 23px;
  margin-left: 20px;
}

.new_item {
  margin-top: 5px;
  margin-left: 20px;
}

.new_item .link {
  font-size: 24px;
  line-height: 30px;
  color: inherit;
}

.new_item .link:hover,
.new_item .link:active {
  color: #e84d37;
}

.follow {
  font-weight: 400;
  color: var(--text-basic-color-black);
  background-image: url(../img/optimizedJPEG/postBackground.jpg);
  width: 560px;
  height: 220px;
  border-radius: 19px;
  background-repeat: no-repeat;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow_inner_background {
  width: 548px;
  height: 210px;
  background-color: #f8f7f4;
  border-radius: 19px;
}

.follow_inner_background p {
  margin: 25px 20px 0 20px;
}

.follow_form {
  margin: 45px 20px 0 20px;
  display: flex;
  justify-content: space-between;
}

.follow_form .button {
  width: 130px;
  height: 45px;
  padding-top: 10px;
}

.follow_form input[type="email"] {
  width: 360px;
  height: 40px;
}

.map {
  width: 1200px;
  height: 430px;
  grid-column: 1/-1;
  margin-left: -26px;
  margin-top: 40px;
  background-image: url(../img/map.jpg);
}

.contacts {
  width: 260px;
  height: 270px;
  padding: 20px 20px;
  border-radius: 16px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--text-basic-color-black);
  background-color: var(--text-basic-color-white);
  margin-left: 860px;
  margin-top: 60px;
}

.contacts p {
  margin: 0;
}

.contacts .contacts_item_street {
  margin-bottom: 30px;
}

.contacts_item {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts .contacts_item_phone {
  margin-top: 7px;
}

.contacts .button {
  margin-top: 30px;
  width: 255px;
  height: 45px;
  padding-top: 10px;
}

.modal_contact_us {
  font-weight: 500;
  color: var(--text-basic-color-black);
  width: 425px;
  height: 400px;
  border-radius: 6px;
  padding: 20px 25px 25px 25px;
}

.modal_contact_us p {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.form_fullname,
.form_email {
  width: 235px;
  height: 39px;
}

.form_fullname {
  margin-top: 25px;
}

.form_email,
.form_text {
  margin-top: 20px;
}

.form_text {
  width: 395px;
  height: 130px;
  resize: none;
  padding-top: 15px;
}

.modal_form .button {
  width: 140px;
  height: 45px;
  padding-top: 10px;
  margin-top: 25px;
  margin-left: 285px;
}

.breadcrumbs {
  grid-column: 1/-1;
}

.breadcrumbs_list {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs_item {
  margin-right: 22px;
}

.breadcrumbs_item:last-child {
  margin-right: 0;
}

.breadcrumbs_link {
  font-weight: 400;
}

.catalog_main_title {
  font-size: 35px;
  line-height: 41px;
  grid-column: 1/-1;
}

.label {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.sort_form {
  width: 870px;
  min-height: 130px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

.sort_form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.sort_select {
  display: flex;
  flex-direction: column;
}

.sort_value {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--text-basic-color-white);
  width: 195px;
  height: 35px;
}

.sort_price {
  width: 220px;
  height: 35px;
  display: flex;

  flex-direction: column;
}

.fat_list {
  height: 35px;
  width: 425px;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.filler_list {
  width: 710px;
  height: 35px;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.background_transparent_white {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.apply_button {
  width: 145px;
  height: 35px;
  font-size: 16px;
  line-height: 18px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  color: var(--text-basic-color-white);
  padding: 5px 14px;
  align-self: center;
}

.catalog_ice_creams {
  display: grid;
}

.pages_list {
  grid-column: 1/-1;
  justify-self: end;
  display: flex;
  flex-wrap: wrap;
}

.pages_list_item {
  margin-right: 20px;
}

.pages_list_item:last-child {
  margin-right: 0;
}

.current_page {
  width: 26px;
  height: 26px;
  background-color: var(--text-basic-color-white);
  border-radius: 50%;
  text-align: center;
  margin-right: 12px;
}

.current_page_link {
  color: var(--text-basic-color-black);
}

.main_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 18px;
  margin-bottom: 25px;
}

.social_list {
  display: flex;
  margin-top: 10px;
}

.social_item {
  margin-right: 12px;
}

.social_item:last-child {
  margin-right: 0;
}

.footer_info {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  justify-self: center;
  margin-top: 10px;
  position: relative;
}

.footer_info_heart {
  position: absolute;
  left: -20px;
  top: 2px;
}

.footer_info_list {
  display: grid;
  width: 305px;
  grid-template-columns: 111px 162px;
  column-gap: 32px;
  row-gap: 7px;
}

.footer_copyright {
  justify-self: end;
}

.copyright_text {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.copyright_text span {
  text-decoration: underline;
}

.button {
  font-size: 18px;
  line-height: 24px;
  background: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  color: var(--text-basic-color-white);
  padding: 15px 22px;
  border: 0;
}

.button:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: 0px 2px 2px #ac1000;
  color: var(--text-basic-color-white);
}

.button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0px 2px 2px #942718;
  color: var(--text-basic-color-white);
}
